<div class="teste">
  <p>produto works!</p>
  <ul class="list-group">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>

  <a class="btn btn-primary mt-3" routerLink="12" role="button"
    >Clique aqui para acessar o detalhe</a
  >
  <hr />
  <div class="p-4">
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
